.button-white {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: 0.9375rem 2.5rem;

  border-width: 1px;
  border-color: var(--main-black);

  font-size: 1rem /* 16px */;
  line-height: 1.375rem /* 22px */;
  font-weight: 600;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;

  cursor: pointer;
}

.button-white:hover,
.button-white:active {
  background-color: var(--main-black);
  color: white;
}

.button-black {
  padding: 15px 23px;
  border: none;
  border-radius: 0;
  background-color: var(--main-black);

  color: white;
  font-size: 0.875rem /* 14px */;
  line-height: 1.1875rem /* 19px */;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;

  cursor: pointer;
}

.button-black:hover,
.button-black:active {
  background-color: var(--main-red-hover);
}

.button-red {
  padding: 0.9375rem 2.5rem;
  border: none;
  border-radius: 0;
  background-color: var(--main-red);

  color: white;
  font-size: 1rem /* 16px */;
  line-height: 1.375rem /* 22px */;
  font-weight: 600;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;

  cursor: pointer;
}

.button-red:hover,
.button-red:active {
  background-color: var(--main-red-hover);
}
